.dnd {
  font-family: "Faculty Glyphic", sans-serif;
}

$background-secondary: #2a2e34; 

#tooltip-wrapper {
  width: 80%;
  max-width: 800px !important;
}

#drungeons-home-button {
  @media (max-width: 1400px) {
    height: 75px;
  }
}

.navbar-inner {
  h1 {
    visibility: hidden;
  }
}
