.dnd {
  font-family: "Faculty Glyphic", sans-serif;
}

#tooltip-wrapper {
  width: 80%;
  max-width: 800px !important;
  border: solid medium #343840;
}

#tooltip-content {
  div, header {
    visibility: hidden;
    height: 0px;
  }
}

#drungeons-home-button {
  @media (max-width: 1400px) {
    height: 70px;
    padding-top: 10px;
  }
  @media (min-width: 1401px) {
    padding: 10px;
  }
}

.callout {
  background-color: rgba(255,255,255,0.1);
}

.navbar-inner, .filetree-sidebar {
  h1 {
    visibility: hidden;
    width:0px;
    height:0px;
  }
  background-color: #2a2e34;
}

.navbar {
  background-color: #2a2e34;
}

.callout[data-callout*=column][data-callout-metadata~=flex] > .callout-content .callout {
  flex: 1 0 24em;
  max-width: 28em;
  align-content: center;
  h3 {
    text-align: center;
  }
  
  img {
    max-height: 28em;
    height: auto;
    max-width: 100%;
  }
  
  .image-embed {
    max-width: 100%;
  }
}
