.dnd {
  font-family: "Faculty Glyphic", sans-serif;
}

#tooltip-wrapper {
  width: 80%;
  max-width: 800px !important;
  border: solid medium #343840;
}

#tooltip-content {
  div, header {
    visibility: hidden;
    height: 0px;
  }
}

#drungeons-home-button {
  @media (max-width: 1400px) {
    height: 70px;
    padding-top: 10px;
  }
  @media (min-width: 1401px) {
    padding: 10px;
  }
}

.callout {
  background-color: rgba(255,255,255,0.1);
}

.navbar-inner, .filetree-sidebar {
  h1 {
    visibility: hidden;
    width:0px;
    height:0px;
  }
  background-color: #2a2e34;
}

.navbar {
  background-color: #2a2e34;
}

.callout-content {
  p {
    // 1. Hide paragraphs that are strictly empty (standard check)
    &:empty {
      display: none;
    }

    // 2. Hide paragraphs that only contain whitespace/newlines 
    //    by checking if they lack significant child elements.
    //    (This targets <p> </p> but keeps <p><picture>...</picture>)
    &:not(:has(picture)):not(:has(img)):not(:has(a)):not(:has(strong)) {
      display: none;
    }

    // 3. (Optional) Structural cleanup specific to your layout:
    
    // Hide any paragraph that immediately precedes a Header 3
    &:has(+ h3) {
      display: none;
    }

    // Hide any paragraph that immediately precedes another Callout card
    &:has(+ .callout) {
      display: none;
    }
  }
}

.callout[data-callout*=column][data-callout-metadata~=flex] > .callout-content .callout {
  flex: 1 0 12rem;
  max-width: 15rem;
  align-content: center;
  h3 {
    text-align: center;
    font-size: 1.2em;
  }
  
  img, picture {
    max-height: 15rem;
    height: auto;
    max-width: 100%;
  }
  
  .image-embed {
    max-width: 100%;
  }
}
