.dnd {
  font-family: "Faculty Glyphic", sans-serif;
}

#tooltip-wrapper {
  width: 80%;
  max-width: 800px !important;
  border: solid medium #343840;
}

#tooltip-content {
  div, header {
    visibility: hidden;
    height: 0px;
  }
}

#drungeons-home-button {
  @media (max-width: 1400px) {
    height: 70px;
    padding-top: 10px;
  }
  @media (min-width: 1401px) {
    padding: 10px;
  }
}

.callout {
  background-color: rgba(255,255,255,0.1);
}

.navbar-inner, .filetree-sidebar {
  h1 {
    visibility: hidden;
    width:0px;
    height:0px;
  }
  background-color: #2a2e34;
}

.navbar {
  background-color: #2a2e34;
}

.callout[data-callout*=column][data-callout-metadata~=flex] > .callout-content .callout {
  flex: 1 0 12rem;
  max-width: 15rem;
  align-content: center;
  h3 {
    text-align: center;
    font-size: 1.2em;
  }
  
  p {
    // Check if the paragraph is empty
    &:empty {
      display: none;
    }
    
    // Fallback: If the paragraph only contains a <br> or a space
    // but implies emptiness, we can try to collapse the margins.
    // NOTE: Use this only if the strictly empty solution fails.
    &:not(:has(picture)):not(:has(img)):not(:has(a)) {
       // This is risky if you have text-only paragraphs, 
       // stick to the :empty solution first.
    }
  }
  
  img, picture {
    max-height: 15rem;
    height: auto;
    max-width: 100%;
  }
  
  .image-embed {
    max-width: 100%;
  }
}
