.dnd {
  font-family: "Faculty Glyphic", sans-serif;
}

#tooltip-wrapper {
  width: 80%;
  max-width: 800px !important;
}

#tooltip-content {
  div, header {
    visibility: hidden;
    height: 0px;
  }
}

#drungeons-home-button {
  @media (max-width: 1400px) {
    height: 70px;
    padding-top: 10px;
  }
  @media (min-width: 1401px) {
    padding: 10px;
  }
}

.navbar-inner, .filetree-sidebar {
  h1 {
    visibility: hidden;
    width:0px;
    height:0px;
  }
  background-color: #2a2e34;
}

.navbar {
  background-color: #2a2e34;
}
