.dnd {
  font-family: "Faculty Glyphic", sans-serif;
}

#tooltip-wrapper {
  width: 80%;
  max-width: 800px !important;
}

#drungeons-home-button {
  @media (max-width: 1400px) {
    height: 75px;
  }
}

.navbar-inner .filetree-sidebar {
  h1 {
    visibility: hidden;
  }
  background-color: #2a2e34;
}
