<img src="https://github.com/JClement57/drungeonsndagrons/blob/main/src/site/_includes/components/user/filetree/beforeTitle/drungeonsCropped.png?raw=true"></img>
<script>
  console.log("adding home customer njk");
</script>
