<img src="https://raw.githubusercontent.com/JClement57/drungeonsndagrons/refs/heads/main/src/site/_includes/components/user/filetree/beforeTitle/drungeonsCropped.png?token=GHSAT0AAAAAADI4MOUIJTGCITYQF43SQN762EWNNOA">
<script>
  console.log("adding home customer njk");
</script>
